mixin template(name)
  div(data-ui-jsrender-modal-template=name, style="display:none")
    block

mixin item-template(name,data)
  script(type="text/template",data-ui-jsrender='#{data}',data-ui-jsrender-type="#{name}")
    block

.span2
  - var name = "input"
  - var jsrender = JSON.stringify({
  -  label:name,
  -  placeholder:name,
  -  name: name,
  -  help: "help",
  -  type:{ value:name, type:"select"},
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });  
  +item-template(name, jsrender)    
    .control-group
      |<label class="control-label" for="<%= type %>"><%= label %></label>
      |<div class="controls">
      |  <input type="text" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>">
      |  <p class="help-block valtype" data-valtype="help"><%= help %></p>
      |</div>
  +template(name)
    <p><input name="#{name}" value="#{name}"></p>

.span2
  - var name = "password"
  - var jsrender = JSON.stringify({
  -  label:name,
  -  placeholder:name,
  -  name: name,
  -  type:{ value:name, type:"select" },
  -  help: "help",
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });
  +item-template(name,jsrender)
    .control-group
      |<label class="control-label" for="<%= type %>"><%= label %></label>
      |<div class="controls">
      |  <input type="password" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>">
      |  <p class="help-block valtype" data-valtype="help"><%= help %></p>
      |</div>

.span2
  - var name = "textarea"
  - var jsrender = JSON.stringify({
  -  label:name,
  -  placeholder:name,
  -  name: name,
  -  help: "help",
  -  type:{ value:name,type:"select"},
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });
  +item-template(name,jsrender)
    .control-group
      |<label class="control-label" for="<%= type %>"><%= label %></label>
      |<div class="controls">
      |  <textarea rows="3" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>"></textarea>
      |  <p class="help-block valtype" data-valtype="help"><%= help %></p>
      |</div>